<!--Started by Sandeep, added to by Patrick-->
<!--Forms for the user to select; everything from Amenities, climate and locale type -->
<div class="form-group">
    <label for="title"><h2>Title</h2></label>
    <input required value="<%= article.title %>" 
    type="text" name="title" id="title" class="form-control">
</div>

  <div class="form-group">
    <label for="description"><h2>Description</h2></label>
    <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
  </div>

  <div class="form-group">
    <h2>Climate</h2><br>
    <select input required value="<%= article.climate %>" id="climate" name="climate">
      <option value="Cave">Cave</option>
      <option value="Desert">Desert</option>
      <option value="Dungeon">Dungeon</option>
      <option value="Forest">Forest</option>
      <option value="Frozen">Frozen</option>
      <option value="Island">Island</option>
      <option value="Jungle">Jungle</option>
      <option value="Mountain">Mountain</option>
      <option value="Oceanic">Oceanic</option>
      <option value="Savannah">Savannah</option>
      <option value="Swamp">Swamp</option>
      <option value="Temperate">Temperate</option>
      <option value="Wasteland">Wasteland</option>
    </select>
  </div>
  
  <div class="form-group">
    <h2>Locale Type</h2>
    <select input required value="<%= article.locale %>" id="locale" name="locale">
      <option value="Hamlet">Hamlet</option>
      <option value="Village">Village</option>
      <option value="Town">Town</option>
      <option value="City">City</option>
      <option value="Keep">Keep</option>
      <option value="Fort">Fort</option>
      <option value="Castle">Castle</option>
      <option value="Stronghold">Stronghold</option>
      <option value="Capital">Capital</option>
    </select>
  </div>

  <div class="form-group">
    <h2>Amenities</h2><br>
    <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
    <table align>
    <tr>
      <td>
        <h3>Smiths</h3>
      </td>
      <td></td><td></td><td></td>
      <td>
        <h3>Agriculture & Horticulture</h3>
      </td>
      <td></td><td></td><td></td>
      <td>
        <h3>Magical</h3>
      </td>
      <td></td><td></td><td></td>
      <td>
        <h3>Religion</h3>
      </td>
      <td></td><td></td><td></td>
      <td>
        <h3>Crime</h3>
      </td>
      <td></td><td></td><td></td>
      <td>
        <h3>Wordsmiths</h3>
      </td>
      <td></td><td></td><td></td>
      <td>
        <h3>Entertainment</h3>
      </td>
    </tr>
    <tr>
      <td>
        <select input value="<%= article.smith %>" id="smith" name="smith" multiple size=7>
          <option value="Blacksmith">Blacksmith</option>
          <option value="Fletcher">Fletcher</option>
          <option value="Goldsmith">Goldsmith</option>
          <option value="Gunsmith">Gunsmith</option>
          <option value="Locksmith">Locksmith</option>
          <option value="Pewtersmith">Pewtersmith</option>
          <option value="Silversmith">Smith</option>
        </select>
      </td>
      <td></td><td></td><td></td>
      <td style="text-align:center">
        <select input value="<%= article.farm %>" id="farm" name="farm" multiple size=7>
          <option value="Beekeeper">Beekeeper</option>
          <option value="Farmer">Farmer</option>
          <option value="Herbalist">Herbalist</option>
          <option value="Orchadist">Orchadist</option>
          <option value="Rancher">Rancher</option>
        </select>
      </td>
      <td></td><td></td><td></td>
      <td>
        <select input value="<%= article.mage %>" id="mage" name="mage" multiple size="7">
          <option value="Alchemist">Alchemist</option>
          <option value="Enchanter">Enchanter</option>
          <option value="Fortune Teller">Fortune Teller</option>
          <option value="Healer">Healer</option>
          <option value="Potion Seller">Potion Seller</option>
        </select>
      </td>
      <td></td><td></td><td></td>
      <td>
        <select input value="<%= article.faith %>" id="faith" name="faith" multiple size="7">
          <option value="Graveyard">Graveyard</option>
          <option value="Shrine">Shrine</option>
          <option value="Temple">Temple</option>
        </select>
      </td>
      <td></td><td></td><td></td>
      <td>
        <select input value="<%= article.crime %>" id="crime" name="crime" multiple size="7">
          <option value="Black Market">Black Market</option>
          <option value="Bootlegger">Bootlegger</option>
          <option value="Corrupt Official">Corrupt Official</option>
          <option value="Fence">Fence</option>
          <option value="Gang">Gang</option>
          <option value="Pirate Den">Pirate Den</option>
          <option value="Smuggler">Smuggler</option>
        </select>
      </td>
      <td></td><td></td><td></td>
      <td>
        <select input value="<%= article.words %>" id="words" name="words" multiple size="7">
          <option value="Book Merchant">Book Merchant</option>
          <option value="Calligrapher">Calligrapher</option>
          <option value="Cartographer">Cartographer</option>
          <option value="Crier">Crier</option>
          <option value="Courier">Courier</option>
          <option value="Library">Library</option>
          <option value="Printer">Printer</option>
        </select>
      </td>
      <td></td><td></td><td></td>
      <td>
        <select input value="<%= article.fun %>" id="fun" name="fun" multiple size="7">
          <option value="Bard">Bard</option>
          <option value="Jester">Jester</option>
          <option value="Skald">Skald</option>
          <option value="Theater">Theater</option>
        </select>
      </td>
    </tr>
    </table>
  </div>

  <div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
  </div>
  
  <a href="/" class="btn btn-secondary">Cancel</a>
  <button type="submit" class="btn btn-primary">Save</button>
